accelerate==0.29.1
datasets==2.18.0
evaluate==0.4.1
huggingface-hub==0.22.2
multiprocess==0.70.16
nltk==3.8.1
numpy==1.24.4
pandas==2.0.3
protobuf==5.26.1
sacrebleu==2.4.1
safetensors==0.4.2
sentencepiece==0.2.0
tokenizers==0.15.2
torch==2.0.1
tqdm==4.66.2
transformers==4.39.3
typing-extensions==4.11.0
spacy==3.7.4
benepar==0.2.0